$tomato-color: tomato;

@import url('game.scss');
@import url('modal.scss');
@import url('button.scss');

* {
   font-family: 'Roboto', sans-serif;
}

body {
   display: flex;
   flex-direction: column;
   position: relative;
   min-height: 100vh;
   color: white;
   background-color: #e6b479;
}

main {
   width: 100%;
   flex-grow: 1;
   margin: 0 auto;
}

.heading {
   width: fit-content;
   margin: 0 auto;
   padding: 20px;
}

footer {
   flex-shrink: 0;
}

@media (min-width: 768px) {
   main {
      width: 75%;
   }
}
